<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8">
		<script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-1.8.23.custom.min.js"></script>
		<script type="text/javascript" src="/js/app.js"></script>

		<link type="text/css" rel="stylesheet" href="/css/ui-lightness/jquery-ui-1.8.23.custom.css" />

		<title>Minecraft Web Admin</title>
		<meta name="description" content="Minecraft Web Admin tool" />
		<meta name="keywords" content="minecraft, admin, tool, php" />
		<link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	</head>

	<body>
		<div id="frame">
			<div id="flash_message">
            <% if (typeof flashMessage !== 'undefined') { %>
			    <%= flashMessage %>
            <% } %>
			</div>

			<div class="header">

				<a class="logo" href="/"></a>

				<% if (false) { %>
                <%- include navigation.ejs %>
                <% } %>
			</div>

			<div class="content">
				<%- body %>
				<div class="clear"></div>
			</div>
		</div>

		<div id="footer">
			<p>Minecraft Web Admin &copy; <?php echo date("Y"); ?> - Minecraft is &copy; <a href="http://www.mojang.com/" target="_blank">Mojang AB</a></p>
		</div>
	</body>
</html>
