/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #000;
}

body {
  font-family: "Segoe UI", arial, sans-serif;
  font-size: 1em;
  line-height: 1.4;
  background: #545454 url(/images/big_bg.jpg) center center no-repeat;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

a {
  color: #fff;
  text-decoration: none;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

header {
  height: 40px;
  padding: 0 40px;
  background: #000;
  color: #fff;
}

h1.logo-small {
  float: left;
  margin: 0;
}

header .links {
  float: right;
  margin: 0;
  padding: 0;
}

header .links li {
  float: left;
  margin: 0 10px 0 0;
  list-style: none;
}

.frame {
  width: 978px;
  margin: 0 auto;
  padding: 10px;
  border-left: 1px #000 solid;
  border-right: 1px #000 solid;
  border-bottom: 1px #000 solid;
  background: #666;
  box-shadow: 3px 3px 4px 1px #000;
}

nav {
  height: 40px;
  margin: 0 0 20px;
  padding: 10px 8px 0 8px;
  border: 1px #000 solid;
  border-radius: 6px;
  background: url(/images/nav_bg.png) 0 0 repeat-x;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
  margin: 0 20px 0 0;
}

nav li.settings {
  float: right;
  margin: 0;
}

nav a {
  display: block;
  width: 150px;
  height: 30px;
  line-height: 30px;
  border: 1px #191818 solid;
  border-radius: 4px;
  background: #424242;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

nav li.active a {
  background: url(/images/nav_item_active_bg.png) 0 0 repeat-x;
}

nav a:hover {

}

.list-control .actions {
  height: 34px;
  margin: 0;
  padding: 8px 8px 0 8px;
  list-style: none;
  background: url(/images/nav_bg.png) 0 0 repeat-x;
  border: 1px #000 solid;
  border-bottom: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.7) inset;
}

.list-control .actions li {
  float: left;
}

.list-control .actions a {
  display: block;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  background: #424242;
  border: 1px #000 solid;
  border-radius: 4px;
  cursor: pointer;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
}

.server-list table {
  width: 100%;
  border-left: 1px #000 solid;
  border-right: 1px #000 solid;
}

.server-list th {
  padding: 3px 5px;
  text-align: left;
  border-bottom: 1px #000 solid;
  background: #1E5D30;
  color: #eee;
}

.list-control th.checkbox {
  width: 50px;
}

.server-list .player-count {
  width: 100px;
}

.server-list td {
  border-bottom: 1px #000 solid;
  background: #f0f0f0;
}

.list-control td.checkbox {
  text-align: center;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lb-blackout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 5000;
}

.lb-content {
  position: relative;
  z-index: 5001;
  width: 500px;
  margin: 200px auto 0;
  background: #666 url(/images/lightbox_header_bg.png) 0 0 repeat-x;
  color: #fff;
  border: 1px #000 solid;
  border-radius: 6px;
}

.lb-content h2 {
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0 10px;
  border-bottom: 1px #000 solid;
}

.lb-content h2 .close {
  position: absolute;
  top: -14px;
  right: -14px;
  width: 31px;
  height: 31px;
  background: url(/images/lb_close.png) 0 0 no-repeat;
  cursor: pointer;
}

form {
  padding: 20px;
}

input {
  border: 1px #000 solid;
}

select {
  border: 1px #000 solid;
}

form div {
  margin: 0 0 20px;
}

form span {
  display: inline-block;
  width: 120px;
  font-weight: bold;
}

form .submit {
  height: 26px;
  margin: 0;
}

form .submit input {
  float: right;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  background: #424242;
  border: 1px #000 solid;
  border-radius: 4px;
  cursor: pointer;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.server-create .name input {
  width: 200px;
}

footer {
  margin: 20px 0 0;
  padding: 8px 10px;
  border: 1px #000 solid;
  background: #000;
  color: #eee;
}

footer p {
  margin: 0;
  font-size: 11px;
  text-align: center;
}
