<h1>Setup</h1>

<form action="/setup" method="post">
	<input type="hidden" name="step" value="2" />
	<fieldset>
		<legend>Choose which best describes your situation</legend>

		<p>
			<label for="ms1">No server(s)</label>
			<input id="ms1" type="radio" name="status" value="none" />
			<span class="desc">I want to create a new Minecraft server on this machine</span>
		</p>

		<p>
			<label for="ms2">Existing server(s)</label>
			<input id="ms2" type="radio" name="status" value="existing" />
			<span class="desc">You will connect to local / remote Minecraft servers</span>
		</p>

		<p class="submit">
			<input type="submit" value="Continue" />
		</p>
	</fieldset>
</form>
