<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">

  <link type="text/css" rel="stylesheet" href="/css/normalize.min.css" />
  <link type="text/css" rel="stylesheet" href="/css/main.css" />

  <title>Minecraft Web Admin</title>

  <meta name="description" content="Minecraft Web Admin tool" />
  <meta name="keywords" content="minecraft, admin, tool, php" />
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>

<body>
  <div id="app">
    <p class="loading">Loading...</p>
  </div>

  <script data-main="js/main" src="/js/vendor/require-min.js"></script>
</body>
</html>
